<a href="https://colab.research.google.com/github/Ayron-Kevin/Programa-o-FPB---Aulas/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
nomes = ['Zé', 'Tião','Joaquim']
nomes.append('Julia')
nomes

#vários valores
outrosNomes = {'Ana','Zabé', ' Maria'}
nomes.extend(outrosNomes)

nomes

['Zé', 'Tião', 'Joaquim', 'Julia', 'Zabé', 'Ana', ' Maria']

In [3]:
#Crie uma lista de números e
numeros = [2, 4, 1, 6, 9, 12]
#remova o primero elemento da lista
numeros.remove(numeros[0])
#remova o último elemento da lista
numeros.pop()

numeros

[4, 1, 6, 9]

In [5]:
#1 - Crie uma lista de notas, e exiba-a da menor para
notas = [2, 10, 9, 4, 7, 3, 8]
nomes = ['Ademar','Maristênio','Asdrúbal','Leo']
notas.sort()
nomes.sort(reverse=True)
#2 - Crie uma lista de nomes de frutas e ordene-a 

nomes

#2 - Crie uma lista de nomes de frutas e ordene-a

['Maristênio', 'Leo', 'Asdrúbal', 'Ademar']

In [7]:
#Exemplo função map - criar uma nova lista com o dobro
numeros = [2, 4, 6, 3]
nova_lista= list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [10]:
#pegar cada um dos números e dividir por 3 
numeroDivi= list(map(lambda x : x/3, numeros))

numeroDivi

[0.6666666666666666, 1.3333333333333333, 2.0, 1.0]

In [14]:
#pega cada número e soma 2.
soma2 = list(map(lambda x : x+2, numeros))

soma2

[4, 6, 8, 5]

In [35]:
#Exemplo função - a partir de uma lista de nomes,

nomes = ['José', 'João', 'Sebastião','Angélica', 'Leonardo','Barbara']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Sebastião', 'Angélica', 'Leonardo', 'Barbara']

In [34]:
# Crie uma lista de notas, imprime as maiores que 6

num = [10, 3, 5, 8, 6, 7]

nunsNotas = new_list = list(filter(lambda x : x >= 6, num))

nunsNotas

[10, 8, 6, 7]

In [48]:
#1 - dada uma lista de números, retorne uma lista contendo o quadrado de cada número

#2 - dada uma lista de nomes, retorne uma lista contendo o tamanho de nome 

#3 - dada uma lista de números, retorne uma lista contendo apenas os números pares

#4 - dada uma lista de n

[5, 10, 6, 9]

In [51]:
#1 - dada uma lista de números, retorne uma lista contendo o quadrado de cada número
num = [5, 10, 6, 9]
new_list = list(filter(lambda x : (x+x)*2, num))

new_list

SyntaxError: ignored